<h1 class="text-center mb-4 bg-dark p-4 text-white fw-bolder">Veiw All Employees</h1>
<table class="table table-bordered">
    <tr class="bg-dark text-white">
        <th>Count</th>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Department</th>
        <th>Role</th>
        <th></th>
    </tr>
    <tr class="border" *ngFor="let employee of employeeList; index as i">
        <td>{{i+1}}</td>
        <td>{{"EP#000"+employee.id}}</td>
        <td>{{employee.firstName+" "+employee.lastName}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.departmentId}}</td>
        <td>{{employee.roleId}}</td>
        <td><button type="button" class="btn btn-danger" (click)="deleteEmployee(employee)"><i class="bi bi-trash-fill"></i></button></td>
    </tr>
</table>